<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="gridster.js.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".properties" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
